In [1]:
import pandas as pd

In [3]:
prod_df = pd.read_csv('./production.csv')

In [6]:
prod_df.shape

(56, 32)

In [8]:
prod_df.describe()

,Unnamed: 0,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,1998/99,...,2010/11,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20
count,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,...,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000
mean,35.267857,3329.644986,3616.667300,3518.717650,3277.180468,3332.634618,3118.602468,3689.567004,3567.398611,3888.057364,...,5002.769207,5047.406704,5399.411146,5496.797850,5367.916879,5575.945518,5797.142146,5846.182239,6159.315011,5894.750561
std,17.837133,12915.596615,13998.084651,13856.532653,12721.697262,12925.713023,11860.662507,14219.020222,13706.017825,15196.758486,...,20001.948814,19957.638785,21442.210573,21835.329631,21327.216980,22122.634691,22978.531466,23090.655768,24603.896134,23413.754160
min,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.051000,0.007000,0.000000
25%,20.250000,41.551000,70.824250,46.432500,36.660000,44.060500,43.597000,39.932250,48.762075,59.873500,...,36.558275,34.290100,30.521475,34.134900,38.479200,39.434575,34.064350,36.338675,36.820650,39.045000
50%,36.500000,474.235500,473.591000,523.574500,442.742000,427.901500,473.962500,414.678000,365.919500,462.919500,...,351.252850,352.866550,341.888600,301.469000,291.210500,316.746950,274.665150,303.416300,328.241150,326.591950
75%,50.250000,1571.042500,1816.461250,1777.757500,1889.136000,2208.914500,1893.484250,1995.782500,1991.171500,2007.317250,...,1619.730100,1921.526875,1835.386675,1679.022775,1538.306725,1326.856475,1221.332750,1576.472400,1613.823425,1586.121700
max,65.000000,93230.059600,101266.684400,98524.094200,91761.053100,93313.769300,87320.869100,103307.876100,99887.161100,108865.606200,...,140077.537800,141327.387700,151183.512100,153910.339800,150301.672600,156126.474500,162319.980100,163693.102700,172460.820300,165053.015700

In [9]:
prod_df.head()

,Unnamed: 0,Crop year,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,...,2010/11,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20
0,5,Angola,50.3450,79.3310,77.5200,32.6080,76.802,62.1090,70.925,64.330,...,34.9700,28.7150,32.7900,34.9350,39.4050,40.5150,44.8300,35.0060,41.9027,51.8419
1,6,Bolivia (Plurinational State of),122.7770,103.5360,120.2350,50.8230,116.944,142.4850,124.579,140.719,...,117.2249,131.8354,105.2812,119.9122,99.8766,84.2191,77.9835,83.8112,82.5687,81.2654
2,7,Brazil,27285.6286,27293.4934,34603.3542,28166.9786,28192.047,18060.2022,29196.743,26148.004,...,55428.4102,48591.8289,55418.0012,54688.9664,53304.7669,52870.5876,56788.1784,52739.8179,65130.7997,58210.7127
3,8,Burundi,487.3930,667.1990,620.2380,393.3540,664.143,433.9800,400.969,249.785,...,352.9776,204.1328,405.9615,163.2177,247.5500,269.4576,196.4128,202.1079,204.3391,272.4688
4,9,Ecuador,1503.8150,2123.8240,1185.4800,2069.0070,2375.766,1888.2330,1992.914,1190.663,...,853.9798,825.4144,828.1024,665.5450,644.0112,644.4926,644.8845,623.5744,496.0001,558.9352